<!DOCTYPE html>
<html lang="en-US">
  <link rel="shortcut icon" type="image/x-icon" href="files/favicon.png">
  <meta name="description" content="personal website"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">

  <link rel="manifest" href="manifest.json">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Neel Patel">
  <meta name="apple-mobile-web-app-title" content="Neel Patel">
  <meta name="theme-color" content="#FFFFFF">
  <meta name="msapplication-navbutton-color" content="#FFFFFF">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="msapplication-starturl" content="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/jp2" sizes="342*340" href="files/neel.webp">
  <link rel="apple-touch-icon" type="image/gif" sizes="342*340" href="file/neel.gif">

  <script src="js/jquery.min.js"></script>
  <link href="css/bootsrap.min.css" rel="stylesheet">
  <script src="js/bootstrap.min.js" ></script>
  <script src="js/bootstrap.bundle.min.js" ></script>
  <script src="js/scramble.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/axios.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-86734910-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-86734910-3');
  </script>


  <link href="css/style.css" rel="stylesheet">
  <title>Neel Patel</title>

</head>
<body>
  <div class="container" id="container" role="main">
    <table id="table" class="table-responsive" border="0" align="center" role="contentinfo">
      <tbody>
          <tr>
              <td><img  id="profileimg" src="files/neel-png.png" alt="Profile Image"></td>
          </tr>
        <tr>
          <td>
            <p align="center"><p id="name">Neel Patel</p>
            Email:
            <font style="display:inline;"><a href="mailto: neel.patel6573@gmail.com" id="email">neel.patel6573@gmail.com</a>&nbsp;<p>(<span onclick="unscrambleEmail()">unscramble</span>)&nbsp;</font>
            </p>
            <p style="display:inline;" id="fingerprint">1936 3682 C430 80C2 F6CD C94E 9F34 F74B 7235 1840<p>Get your PGP key <span><a href="files/pgp-public-key.txt">here</a></span></p></p>
            <table width="100%" align="center" border="0">
              <tbody>
                <tr >
                  <td width="100%" valign="middle" align="justify">
                    <p id="detail1">I am a final year Bachelors student in Information Technology at <a href="http://bvmengineering.ac.in/">Birla Vishvakarma Mahavidyalaya</a>. My primary interests are in Networking and Security, Backend Development and a little bit in Machine Learning.</p>
                    <p id="detail2">I am currently working as an "Intern-Product and Project" at <a href="http://www.theopeneyes.com/">OpenEyes Technologies, Inc</a> for a period of 4 months. At OpenEyes, I am working with a team-mate to develop a ML based project named <a href="https://github.com/neelpatel05/anti-smokify">"Anti-Smokify"</a> to identify smoking scenes from videos and movies. For our project, we are using <span>Flask</span>, <span>Python</span>, <span>AWS</span> for Backend and <span>ResNet50</span> model for Transfer Learning to predict the frames.</p>
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="100%" align="center" border="0">
              <tbody>
                <tr>
                  <td width="50%"><p align="left"><font size="3"> <a href="https://drive.google.com/file/d/1URmZjS9v-pBNKxrrOMVxeQA2h4DDtPaJ/view?usp=sharing">Resume</a> &nbsp;|&nbsp; <a href="https://github.com/neelpatel05/">Github</a> &nbsp;|&nbsp; <a href="https://www.linkedin.com/in/neelkumarpatel">LinkedIn</a></font></p></td>
                </tr>
              </tbody>
            </table>
            
            <!-- <hr>
            <table id="work" width="100%" align="center" border="0" valign="middle">
              <tbody>
                <tr>
                  <td><p style="font-size: 1.4rem;float: left">my work</p><p style="float: right;margin-top: 5px">(more on github)</p></td>
                </tr>
                <tr>
                  <td>
                    <div class="card-group">
                      <div class="row">
                        <div class="column" v-for="repo in repos">
                          <div class="col s12 m6">
                              <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                  <div id="card-title"> 
                                  <span class="card-title" >{{repo.name}}</span><br>
                                  <p v-for="(number, language) in repo.languages" :key="language" class="badge badge-secondary" style="margin-top:10px;margin-left:10px;display: inline;">
                                    {{language}}
                                  </p>
                                  <p v-if="repo.description" style="margin-top:10px">{{repo.description}}</p>
                                  <p v-else style="margin-top:10px">There is no description available for this repository on GitHub</p></div>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table> -->

            <hr>
            <table id="app" width="100%" align="center" border="0">
              <thead>
                <tr>
                    <td><p style="font-size: 1.4rem;float: left">recent github events</p></td>
                </tr>
                <tr v-for="post in this.posts">
                  <td>
                    <div v-if="post.type == 'CreateEvent'" id="CreateEvent" class="row" style="margin-top:15px;width: 100%;">
                        <div class="col s12 m6">
                          <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                              <div id="card-title"><span class="badge badge-info" style="font-size: 0.9rem">{{post.type}}</span> @ 
                              <span class="card-title" >{{post.name}}</span>
                              <p class="badge badge-secondary" style="float:right" id="created_at1">{{post.created_at}}</p>
                              <p v-if="post.description" style="margin-top:10px">{{post.description}}</p>
                              <p v-else style="margin-top:10px">There is no description available for this repository on GitHub</p></div>
                              <p class="badge badge-secondary" id="created_at2">{{post.created_at}}</p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div v-if="post.type == 'PushEvent'" id="PushEvent" class="row" style="margin-top:15px;width: 100%;">
                        <div class="col s12 m6">
                          <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                              <div id="card-title"><span class="badge badge-success" style="font-size: 0.9rem">{{post.type}}</span> @ 
                              <span class="card-title" >{{post.name}}</span>
                                <p class="badge badge-secondary" style="float:right" id="created_at1">{{post.created_at}}</p>
                                <p v-if="post.description" style="margin-top:10px">{{post.description}}</p>
                                <p v-else style="margin-top:10px">There is no description available for this repository on GitHub</p></div>
                                <p class="badge badge-secondary" id="created_at2">{{post.created_at}}</p>
                                <p class="badge badge-secondary" id="commits">commits : {{post.numberofcommits}}</p>
                                <br>
                                <ol style="float:left">
                                    <li v-for="commit in post.commits" style="text-align: left">{{commit.message}}</li>
                                </ol>
                              </div>
                          </div>
                        </div>
                    </div>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div style="margin: 30px 0px 20px 0px">
                      made with<img id="chai" alt="Chai" src="files/chai-png.png" width="4%" style="margin-bottom: 6px">chai <span class="badge badge-danger">{{this.time}} ms</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <script src="js/script.js"></script>
  <script src="js/vuescript.js"></script>
</body>
</html>
